---
import BaseHead from '../../layout/BaseHead.astro'
import BaseBody from '../../layout/BaseBody.astro'

import '../../styles/pages/index.scss' // Page Style

const title = "Carmella Gelateria"
const description = "Melhor gelateria de Curitiba. Venha experimentar!"
const url = "https://www.carmellagelateria.com.br/"

const apiKey = "68c821de116f8b65737668adc66e62f1";
const token =
"ATTA4607b0c667bc6b061ba9deb7eb850fb1e000aa77fe479de728a7945216e62c6aF34C6FD7";
const altoxvListId = "63c05f1f59d5e80260c52c56";
const FetchUrl = `https://api.trello.com/1/lists/${altoxvListId}/cards?key=${apiKey}&token=${token}`;



const data = await fetch(FetchUrl).then((response) =>
response.json()
);


---




<html lang="pt-BR">
<BaseHead title={title} description={description} url={url} />
<BaseBody>

  <body>


    <header class="header container">
      <img class="logo" src="../images/logo.svg" alt="">
      <h1 class="title">Loja Ahú - Rua Colombo, 183</h1>
      <h2 class="sub-title">Confira os Sabores do Dia:</h2>
    </header>
    <main class="container">

      <div id="data-container-ahu" class="data-container">
        {data.map((item) => <div class='data-item'>{item.name}</div>)}

      </div>

      <p class="disclaimer">Atenção! <br><br>Os sabores são atualizados em tempo real, porém em dias de muito movimento
        os
        sabores podem mudar rapidamente.</p>

    </main>

    <footer class="footer">
      <a href="https://wa.me/+554195011324">
        <img class="icon" src="../images/whatsapp.svg" alt="">
      </a>
      <a href="https://www.instagram.com/carmellagelateria/">
        <img class="icon" src="../images/instagram.svg" alt="">
      </a>
      <a href="https://www.facebook.com/carmellagelateria/">
        <img class="icon" src="../images/facebook.svg" alt="">
      </a>

    </footer>

  </body>



</BaseBody>

</html>